<form action="https://www.afropay.net/webservices/" method="post">
    <input id="txb" name="merchantAccount" value="kamgasimo" type="hidden">
    <input type="hidden" name="cmd" value="_donations">
    <input id="txb" name="amount" value="1" type="hidden">
    <input id="txb" name="item_id" value="Donation" type="hidden">
     <input id="txb" name="lang" value="en" type="hidden">
     <input id="txb" name="store_id" value="3095" type="hidden">
    <input id="txb" name="vpc_currency" value="USD" type="hidden">
    <input id="txb" name="method" value="cc" type="hidden">
    <input id="txb" name="return_url" value="https://www.fundandimpact.com/donation/paid" type="hidden">
    <input id="txb" name="notify_url" value="https://www.fundandimpact.com/donation/notity" type="hidden">
    <input id="txb" name="cancel_url" value="https://www.fundandimpact.com/donation/canceled" type="hidden">
    <!-- <input id="txb" name="cartImage" src="https://www.afropay.net/users/img/buttons/vpcashgold3.gif" type="image" value ="Donate Now"> -->
    <input id="txb"  type="submit" class="btn next2"  value ="Donate Now">

</form>


<style media="screen">
.next2{
  background: #F5A409;
  border-radius: 5px;
  border-bottom: 3px solid #E2960B;
  color: #fff !important;
  float: left;
  font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 55px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-shadow: 1px 1px 1px #8C4600 !important;
  text-decoration: none !important;
  min-width: 55px;
  cursor: pointer;
}
</style>
